h1, .h1 {
  /*basic heading styles*/
  font-size: 2rem;
}

h2, .h2 {
  /*basic heading styles*/
  font-size: 1.8rem
}

h3, .h3 {
  /*basic heading styles*/
  font-size: 1.6rem
}

h4, .h4 {
  /*basic heading styles*/
  font-size: 1.4rem
}

h5, .h5 {
  /*basic heading styles*/
  font-size: 1.2rem
}

h6, .h6 {
  /*basic heading styles*/
  font-size: 1rem
}


.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5px 5px 5px 0;
	padding: 15px 35px;
	border: 2px solid transparent;
	border-radius: 50px;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	background: #edbd2d;
	color: #2f3a55;
	border-color: #edbd2d;
	width: 200px;
}

.two-columns {
	columns: 2;
}

.three-columns {
	columns: 3;
}

small, .small {
	font-size: 80%;
}
